<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ayuda de Diagnostico</title>
  </head>
  <body>
    <p> En cualquier momento puede escoger ingresar a otro lugar del sistema, listado en la parte inferior del logo, haciendo click en el nombre de la pestaña donde desea ir. </p>
    <p> <h2>Buscar:</h2> Despliega un campo a la izquierda de la pantalla para ingresar algun dato especifico del diagnosito que se desea buscar, este puede ser:
    el nombre del diagnostico.</p>
  <p> <h2>Crear nuevo:</h2> Muestra el formulario correspondiente a un nuevo diagnostico, los campos obligatorios estan resaltados con negrilla.</p>
<p> <h2>Editar:</h2>Al hacer click en el link de "Editar", se despliega un formulario con los datos correspondientes al daignostico para poder editarlos. </p>
<p> <h2>Borrar:</h2>Al hacer click en el link de "Borrar", se mostrara una ventana para confirmar si se desea o no borrar el diagnostico del sistema, si se acepta, el diagnostico es borrado del sistema
junto con toda su informacion.</p>
<p> <h2>Ver:</h2>Al hacer click en el link de "Ver", se despliega toda la informacion correspondiente al diagnostico. </p>
</body>
</html>
