<% @title = "Ayuda de Vacuna" %>
<h2>Buscar:</h2><p> Despliega un campo a la izquierda de la pantalla para ingresar algun dato especifico de la vacuna que se desea buscar.</p>
<h2>Crear nuevo:</h2><p> Muestra el formulario correspondiente a una nueva vacuna, los campos obligatorios estan resaltados con negrilla.
  Estas vacunas cumplen el papel de registro de vacunas como tambien de aplicaciones de vacuna. Si se desea aplicar un vacuna es necesario seleccionar la opcion de
  "aplicacion del doctor" y seleccionar la vacuna correspondiente del stock que se va a aplicar al paciente. Esto generara un ingreso y quedara registrado para formar parte del
  registro de vacunas. Si solo se desea registrar una vacuna se seleccionana toda la informacion menos la "aplicacion del doctoy" y la vacuna del stock.</p>
<h2>Editar:</h2><p>Al hacer click en el link de "Editar", se despliega un formulario con los datos correspondientes a la vacuna para poder editarlos.</p>
<h2>Borrar:</h2><p>Al hacer click en el link de "Borrar", se mostrara una ventana para confirmar si se desea o no borrar la vacuna del sistema, si se acepta, la vacuna es borrado del sistema
  junto con toda su informacion.</p>
<h2>Ver:</h2><p>Al hacer click en el link de "Ver", se despliega toda la informacion correspondiente a la vacuna. </p>
