<p>
  <b>Name:</b>
  <%=h @laboratory_profile.name %>
</p>

<p>
  <b>Text:</b>
  <%=h @laboratory_profile.text %>
</p>


<%= link_to 'Edit', edit_laboratory_profile_path(@laboratory_profile) %> |
<%= link_to 'Back', laboratory_profiles_path %>