<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ayuda de Consulta</title>
  </head>
  <body>
    <p> <h2>Buscar:</h2> Despliega un campo a la izquierda de la pantalla para ingresar algun dato personal de la consulta que se desea buscar.</p>
  <p> <h2>Crear nuevo:</h2> Muestra el formulario correspondiente a una nueva consulta, algunos campos: Diagnostico, Certificado medico, Orden, Laboratorio; cuentan con un linck
  con la imagen de una lupa [imgaen de lupa] que permiten añadir elementos predeterminado. Al seleccionar uno o varios diagnosticos a traves del link, el sistema sugerira
  posibles medicamentos, al seleccionar un medicamnte se agregara automaticamente una receta calculando la docis correspondiente al peso y\o talla del paciente.</p>
<p> <h2>Imprimir:</h2> Al hacer click en el link de "Imprimir", se muestra el mismo formulario que al editar pero aumenta la opcion de seleccionar los campos que se desean imprimir. Se pueden editar todos los campos, estos no
se editaran en la base de datos, el cambio es solo para ser imprimido, no almacenado.</p>
<p> <h2>Editar:</h2>Al hacer click en el link de "Editar", se despliega un formulario con los datos correspondientes a la consulta para poder editarlos. </p>
<p> <h2>Borrar:</h2>Al hacer click en el link de "Borrar", se mostrara una ventana para confirmar si se desea o no borrar la consulta del sistema, si se acepta, la consulta es borrada del sistema
junto con toda su informacion.</p>
<p> <h2>Ver:</h2>Al hacer click en el link de "Ver", se despliega toda la informacion correspondiente a la consulta. </p>
<p> <h2>Imagen:</h2>Si no existe ninguna imagen correspondiente a una consulta, en el campo de "Imagen" se encuentra un link "-"; al hacer click en el, permite ingresar imagenes
a la consulta. </p>
<p> <h2>Cotizacion de cirugias:</h2>Si no existe ninguna cotizacion de cirugia correspondiente a una consulta, en el campo de "Cotizacion de cirugias" se encuentra un link "-"; al hacer click en el, permite ingresar
cotizaciones de cirugias a la consulta. </p>

</body>
</html>
