<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ayuda de Hopitalizacion</title>
  </head>
  <body>
    <p> <h2>Buscar:</h2> Despliega un campo a la izquierda de la pantalla para ingresar algun dato especifico de la hospitalizacion que se desea buscar.</p>
  <p> <h2>Crear nuevo:</h2> Muestra el formulario correspondiente a una nueva hospitalizacion, los campos obligatorios estan resaltados con negrilla.
Es posible agregar los nombres de todos los medicos que realizan el seguimiento de la hospitalizacion.</p>
<p> <h2>Editar:</h2>Al hacer click en el link de "Editar", se despliega un formulario con los datos correspondientes a la hospitalizacion para poder editarlos. </p>
<p> <h2>Borrar:</h2>Al hacer click en el link de "Borrar", se mostrara una ventana para confirmar si se desea o no borrar la hospitalizacion del sistema, si se acepta, la hospitalizacion es borrado del sistema
junto con toda su informacion.</p>
<p> <h2>Ver:</h2>Al hacer click en el link de "Ver", se despliega toda la informacion correspondiente a la hospitalizacion. </p>
</body>
</html>
