<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Ayuda de Gasto hospitalario</title>
  </head>
  <body>
    <p> En cualquier momento puede escoger ingresar a otro lugar del sistema, listado en la parte inferior del logo, haciendo click en el nombre de la pestaña donde desea ir. </p>
    <p> <h2>Buscar:</h2> Despliega un campo a la izquierda de la pantalla para ingresar algun dato especifico del gasto hospitalario que se desea buscar, este puede ser:
    el concepto, el precio del gasto hospitalario o se puede poner 1 o "t" para que muestre todos los gastos hospitalarios marcados como "Es siempre usado".</p>
  <p> <h2>Crear nuevo:</h2> Muestra el formulario correspondiente a un nuevo gasto hospitalario, los campos obligatorios estan resaltados con negrilla.</p>
<p> <h2>Editar:</h2>Al hacer click en el link de "Editar", se despliega un formulario con los datos correspondientes al gasto hospitalario para poder editarlos. </p>
<p> <h2>Borrar:</h2>Al hacer click en el link de "Borrar", se mostrara una ventana para confirmar si se desea o no borrar el gasto hospitalario del sistema, si se acepta, el gasto hospitalario es borrado del sistema
junto con toda su informacion.</p>
<p> <h2>Ver:</h2>Al hacer click en el link de "Ver", se despliega toda la informacion correspondiente al gasto hospitalario. </p>
<p> <h4>Los gastos hospitalarios seleccionados como "es siempre usado" aparaceran por defecto al realizar una cotizacion de cirugia.</h4> </p>
</body>
</html>
