<% @title = "Ayuda de Alergia" %>
<p> <h2>Buscar:</h2> Despliega un campo a la izquierda de la pantalla para ingresar algun dato especifico de la alergia que se desea buscar.</p>
<p> <h2>Crear nuevo:</h2> Muestra el formulario correspondiente a una nueva alergia, los campos obligatorios estan resaltados con negrilla.</p>
<p> <h2>Editar:</h2>Al hacer click en el link de "Editar", se despliega un formulario con los datos correspondientes a la alergia para poder editarlos. </p>
<p> <h2>Borrar:</h2>Al hacer click en el link de "Borrar", se mostrara una ventana para confirmar si se desea o no borrar la alergia del sistema, si se acepta, la alergia es borrado del sistema
junto con toda su informacion.</p>
<p> <h2>Ver:</h2>Al hacer click en el link de "Ver", se despliega toda la informacion correspondiente a la alergia. </p>
